{% extends "base.html" %}

{% block style %}
{% include "style.html" %}
{% endblock %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block body %}

<div id="main">

    <div id="site_content">

        {% block sidebar %}
        {% include "sidebar.html" %}
        {% endblock %}

        <div id="content">
            <h1>Our Contacts</h1>
            <p>
                Phone number: +09996665544
            </p>
            <p>
                Telegram: test_package
            </p>
            <p>
                email: test@email.com
            </p>
        </div>
    </div>
</div>

{% endblock %}
