<div class="sidebar">
    <h3>Guild News</h3>
    <h4>New Website Launched</h4>
    <h5>June 16th, 2023</h5>
    <p>Test site project launched!</p>
    <p></p>
    <h3>Guild Progress:</h3>
    <ul>
        <li>
            <a href="https://classic.warcraftlogs.com/guild/eu/golemagg/respect%20the%20queue"
               target="_blank">
                WoW Classic
            </a>
        </li>
        <li><a href="#">Diablo</a></li>
    </ul>

    <form action="" method="post">
        <fieldset>
            <legend><h4>Sign In</h4></legend>
            <input class="login" type="text" name="name" id="name" value="Name or Email"><br/>
            <input class="login" type="text" name="Password" id="Password" value="Password">
            <div class="submit">
                <input type="submit" value="Login"/>
                <input type="submit" value="Registration"/>
            </div>
        </fieldset>
    </form>
</div>